<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Cats Details Page</title>
</head>

<body>

    <h1>cat number is <%= catNum %></h1>

    <img src="./img/cat_<%=catNum%>.jpg" alt="NOT Found 1">
    <h2> name: <%=nameCat%></h2>
    <h2> age: <%=ageCat%></h2>
    <h2> sleep at: <%=sleepTime%> </h2>

</body>

</html>